@charset "UFT-8";

html {
    font-size: 100%;
}

li {
    list-style: none;
}
a {
    text-decoration: none;
}
a:hover {
    opacity: 0.5;
}
.wrapper {
    max-width: 1200px;
    padding: 16px;
    margin: 0 auto;
}
.item-title {
    font-size: 1rem;
    overflow-wrap: normal;
    margin: 10px 0;
    /* margin-bottomでREAD MOREの位置調整をこちらで行った */
}
img {
    width: 100%;
}
.read {
    font-size: 0.875rem;
    text-align: center;
  }
.read a {
    padding-bottom: 1px;
    color: #333;
    position: relative;
  }
/* a にクラスをつけるのではなく、div で囲んでクラス付してあげることで
下線を引くことができた。 */

  .read a::after {
    content: '';
    position: absolute;
    height: 1px;
    width: 100%;
    left: 0;
    bottom: 0;
    background: #333;
    transition: all 200ms ease;
  }
  .read a:hover::after {
      opacity: 0;
      transform: translateY(3px);
  }
  .read a:hover {
      opacity: 1;
  }
  /* .read a::after:hover 
  にしていたが、a:hover::afterにすることで
  ホバー時の下線が消えるアクションが作動 */

/* header */
#header {
    position: fixed;
    z-index: 100;
    background-color: white;
    width: 100%;
    

}
#site-title {
    margin: 15px 0 5px 0;
    margin-left: 370px;
}
#site-title a:hover {
    opacity: 1;
}
#site-title img {
    width: 150px;
    /* width指定で強引にサイズ調整 */
}
#nav {
    background-color: #333333;
    height: 40px;
    width: 100vw;
}
#nav a {
    color: white;
}
#nav ul {
    display: flex;
    align-items: center;
    height: inherit;
    width: 100vw;
    margin: 0 auto;
    margin-left: 360px;
}
#nav li {
    font-size: 0.875rem;
    margin: 0 30px;
}
#nav li:first-child {
    margin-left: 15px;
}
/* pickup */
#flex-item ul {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
}
#flex-item li {
    max-width: 32%;
}

#flex-item li  img {
    object-fit: cover;
}
#flex-item .box {
    position: relative;
    height: inherit
}
#flex-item {
    padding-top: 100px;
}
/* main */
#container {
    display: flex;
}
.con-title {
    padding-bottom: 10px;
    padding-top: 50px;
}
.cate a {
    color: black;
}
.cate {
    font-size: 0.875rem;
}
#main {
    width: 65%;
}
#main p {
    text-align: left;
    padding: 20px 40px 30px 40px;
}
#main ul {
    display: flex;
    align-items: flex-start;
    padding-bottom: 10px;
}

#main li {
    margin-right: 10px;
}
#main .read {
    padding-bottom: 10px;
}
/* sidebar */

#sidebar {
    padding-left: 45px;
    width: 33%;
    text-align: center;
}
.author {
    /* text-align: center; */
    margin-bottom: 60px;
}
.author img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-bottom: 40px;
    /* padding-leftで強引にimgの位置を調整した */
}
.name {
    margin-bottom: 30px;
    font-size: 1.125rem;
}
#sidebar p {
    font-size: 0.875rem;
    text-align: left;
}
#ranking p {
    padding-bottom: 30px;
}
#archive li {
    line-height: 60px;
    border-top: solid 1px black;
    padding-left: 20px;
}
#archive li a {
    color: black;
}
#archive li:last-child {
    border-bottom: solid 1px black;
}
/* footer */

#footer {
    background-color: #F7F7F7;
    font-size: 0.875rem;
}
.content {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}
.menu {
    width: 30%;
}
.menu-title {
    font-size: 1.125rem;
    padding-bottom: 35px;
}
#about p {
    padding-bottom: 25px;
}

#footer ul.about-list .arrow {
    position: relative;
    display: inline-block;
    padding-left: 12px;
    color: #333;
  }
  /* 丸写し */
  /* about-listの各項目のbeforeに擬似要素で三角形を作る */
  /* そのためにabout-listの各項目のポジションを設定 */
#footer ul.about-list .arrow::before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 0 6px 8px;
    border-color: transparent transparent transparent #333;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -6px;
  }
  #copy  {
    font-size: 0.75rem;
    text-align: center;
    padding-bottom: 10px;
}

#Menu li {
    line-height: 50px;
    border-top: solid 1px black;
    padding-left: 15px;
}
#Menu li a {
    color: black;
}
#Menu li a:hover {
    color: black;
    opacity: 0.5;
}
#Menu li:last-child {
    border-bottom: solid 1px black;
}
@media screen and (max-width:600px) {
    .read {
        padding-bottom: 30px;
    }
    /* header */
    #site-title {
        margin-left: 20px;
    }
    #nav {
        overflow-x: scroll;
    }
    #nav ul {
        margin-left: 0px;
    }
    #nav li:last-child {
        padding-right: 20px;
    }
    /* pickup */
    #flex-item ul {
        flex-direction: column;
    }
    #flex-item li {
        max-width: 100%;
    }
    /* container */
    #container {
        flex-direction: column;
    }
    
    .con-title {
        padding-top: 10px;
    }
    #main {
        width: 100%;
    }
    #main .read {
        padding-bottom: 30px;
    }
    /* sidebar */
    #sidebar {
        padding-left: 0px;
        width: 100%;
        text-align: center;
    }
    .author {
        /* text-align: center; */
        margin-bottom: 60px;
    }
    .author img {
        width: 130px;
        height: 130px;
        border-radius: 50%;
        margin-bottom: 40px;
        margin-top: 30px;
        /* padding-leftで強引にimgの位置を調整した */
    }
    .name {
        margin-bottom: 30px;
        font-size: 1.125rem;
    }
    #sidebar p {
        font-size: 0.875rem;
        text-align: left;
    }
    #ranking p {
        padding-bottom: 30px;
    }
    #archive li {
        line-height: 60px;
        border-top: solid 1px black;
        padding-left: 20px;
    }
    #archive li a {
        color: black;
    }
    #archive li:last-child {
        border-bottom: solid 1px black;
    }
    /* footer */
    .content {
        flex-direction: column;
    }
    .menu {
        width: 100%;
        padding-bottom: 50px;
    }
}
